.switch-container {
  display: flex;
  align-items: center;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  margin: 0 1rem 0 0.5rem;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 34px;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  content: "";
  position: absolute;
  bottom: 2.5px;
  left: 4px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: white;
  transition: .4s;
}
