.btn {
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  outline: none;
  border: 1px solid black;
  color: black;
  background-color: white;
}

.btn + .btn {
  margin-left: 0.5rem;
}

.btn--primary,
.btn--primary:hover {
  border: none;
  color: white;
  background-color: rgba(248,6,22,0.870588);
}

.btn--primary:hover {
  transform: scale(1.1);
  transition: all 0.1s cubic-bezier(1, 0, 0, 1);
}
